@font-face {
  font-family: "Circular Std";
  src: url("/fonts/CircularStd-Medium.woff2") format("woff2");
}

html {
  /* colours */
  --bg-base: #121212;
  --bg-card: #181818;
  --bg-elevation: #282828;
  --bg-elevation-hover: #3e3e3e;
  --text-primary: #fff;
  --text-secondary: #b3b3b3; /*B3B3B3*/
  --brand-green: #1ed760;

  /* spacings */
  --spacing-xxs: 0.5rem;
  --spacing-xs: 1rem;
  --spacing-s: 2rem;

  /* media-queries (just for the reference, wont work anyway)*/
  --mobile: 600px;
  --tablet: 810px;
  --desktop: 1200px;

  background-color: var(--bg-base);
  color: var(--text-primary);
  font-family: "Circular Std", system, -apple-system, BlinkMacSystemFont,
    sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  margin-block-start: 0;
  padding: 0;
}
